In [1]:
import datajoint as dj

In [2]:
dj.conn(host="tutorial-db.datajoint.io", user="jonathan", password="testpassword123")

Connecting jonathan@tutorial-db.datajoint.io:3306
fetching query: SELECT connection_id() with args: ()
{'connection_id()': 25345}

DataJoint connection (connected) jonathan@tutorial-db.datajoint.io:3306

In [3]:
schema = dj.schema('jonathan_tutorial')

fetching query: SELECT schema_name FROM information_schema.schemata WHERE schema_name = 'jonathan_tutorial' with args: ()
{'schema_name': 'jonathan_tutorial'}

In [4]:
dj.list_schemas()

fetching query: SELECT schema_name FROM information_schema.schemata WHERE schema_name <> "information_schema" with args: ()
{'schema_name': 'capstone_utd_2021_fall_demo'}
{'schema_name': 'jonathan_tutorial'}

['capstone_utd_2021_fall_demo', 'jonathan_tutorial']

In [5]:
@schema
class Mouse(dj.Manual):
    definition = """
    # Experimental animals
    mouse_id             : int                          # Unique animal ID
    ---
    dob=null             : date                         # date of birth
    sex="unknown"        : enum('M','F','unknown')      # sex
    """

fetching query: SHOW TABLES in `jonathan_tutorial` LIKE "mouse" with args: ()
{'Tables_in_jonathan_tutorial (mouse)': 'mouse'}

In [7]:
data = [
    {'mouse_id': 101, 'dob': '2017-03-21', 'sex': 'F'},
]

# insert them all
Mouse.insert(data)

fetching query: INSERT INTO `jonathan_tutorial`.`mouse`(`mouse_id`,`dob`,`sex`) VALUES (%s,%s,%s) with args: [101, '2017-03-21', 'F']

In [8]:
Mouse()

fetching query: SELECT `mouse_id`,`dob`,`sex` FROM `jonathan_tutorial`.`mouse` LIMIT 13 with args: ()
{'mouse_id': 0, 'dob': '2017-03-01', 'sex': 'M'}
{'mouse_id': 1, 'dob': '2017-03-01', 'sex': 'M'}
{'mouse_id': 2, 'dob': '2017-03-01', 'sex': 'M'}
{'mouse_id': 3, 'dob': '1999-01-01', 'sex': 'F'}
{'mouse_id': 4, 'dob': '2006-05-12', 'sex': 'F'}
{'mouse_id': 6, 'dob': '2017-03-01', 'sex': 'M'}
{'mouse_id': 12, 'dob': '2017-03-21', 'sex': 'F'}
{'mouse_id': 100, 'dob': '2017-03-21', 'sex': 'F'}
{'mouse_id': 101, 'dob': '2017-03-21', 'sex': 'F'}
fetching query: SELECT count(DISTINCT `mouse_id`) FROM `jonathan_tutorial`.`mouse` with args: ()
{'count(DISTINCT `mouse_id`)': 9}
fetching query: SELECT `mouse_id`,`dob`,`sex` FROM `jonathan_tutorial`.`mouse` LIMIT 13 with args: ()
{'mouse_id': 0, 'dob': '2017-03-01', 'sex': 'M'}
{'mouse_id': 1, 'dob': '2017-03-01', 'sex': 'M'}
{'mouse_id': 2, 'dob': '2017-03-01', 'sex': 'M'}
{'mouse_id': 3, 'dob': '1999-01-01', 'sex': 'F'}
{'mouse_id': 4, 'dob': '2006-05-12', 'sex': 'F'}
{'mouse_id': 6, 'dob': '2017-03-01', 'sex': 'M'}
{'mouse_id': 12, 'dob': '2017-03-21', 'sex': 'F'}
{'mouse_id': 100, 'dob': '2017-03-21', 'sex': 'F'}
{'mouse_id': 101, 'dob': '2017-03-21', 'sex': 'F'}
fetching query: SELECT count(DISTINCT `mouse_id`) FROM `jonathan_tutorial`.`mouse` with args: ()
{'count(DISTINCT `mouse_id`)': 9}

*mouse_id      dob            sex
+------------+ +------------+ +------------+
<datajoint.cor <datajoint.cor <datajoint.cor
<datajoint.cor <datajoint.cor <datajoint.cor
<datajoint.cor <datajoint.cor <datajoint.cor
<datajoint.cor <datajoint.cor <datajoint.cor
<datajoint.cor <datajoint.cor <datajoint.cor
<datajoint.cor <datajoint.cor <datajoint.cor
<datajoint.cor <datajoint.cor <datajoint.cor
<datajoint.cor <datajoint.cor <datajoint.cor
<datajoint.cor <datajoint.cor <datajoint.cor
 (Total: 9)